.LabelAlign
{
    text-align:right;
}
 
.TextAlign
{
    text-align:left;
}

input[type=text]:focus, input[type=password]:focus
{
    background-color:lightyellow;
    border: 1px solid #ccc;
}    

th, td {
    white-space: nowrap;
}

table.dataTable thead tr {
    background-color: #007bff;
    color:#fff;
}   

table.dataTable tfoot tr 
{
    background-color: #007bff;
    color:#fff;
}

table.dataTable td input[type="text"]
{
   display: ruby-base-container;          
}
 .hideAll  
 {
    visibility:hidden;
 }

 .btnMargin
 {
    margin-right: 2px;
 }

 .bodyMargin
 {
    padding:5px;
 }

@media print {
header,footer { 
display: none; 
}
}